#Common
out/
build/
lib/
classes/
.idea/

# Ignore Gradle GUI config
gradle-app.setting

# User-specific stuff:
.idea/tasks.xml
.idea/dictionaries
#.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
intelligent-semaphore.iml

# Gradle:
.idea/libraries/
.idea/artifacts/
.gradle
