<html>
    <head>
        <style>
            .navbar-brand
            {
                position: absolute;
                width: 100%;
                left: 0;
                text-align: center;
                margin:0 auto;
            }
            .navbar-toggle {
                z-index:3;
            }
        </style>
    </head>
    <body>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="container-fluid panel-container">
                    <div class="col-xs-3 text-left">
                    </div>
                    <div class="col-xs-6 text-center ">
                        <!--Construcción del modelo vial-->
                        <h3 class="panel-title">Construcción del modelo vial</h3>
                    </div>
                    <div class="col-xs-3 text-right">
                    </div>
                </div>
            </div>

            <div class="panel-body container-fluid">
                Panel content
                <div class="row">
                    <div class="col-sm-1" style="background-color: blue">
                    </div>
                    <div class="col-sm-5 container-fluid" style="background-color: ">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-2"><h4>Nombre</h4></div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6"><b>Cant. calles horizontales</b></div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" ng-model="callesH">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6"><b>Cant. calles verticales</b></div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" ng-model="callesV" ng-keypress="ver($event)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 canvas-container">
                                <canvas id= "mapa" width="500px" height="410px">

                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 container-fluid" style="background-color: ">
                        asdsdasd
                        <div class="row">
                            <div class="col-sm-12" ng-include="'templates/tg-panel.html'">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1" style="background-color: pink">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>