<html>
    <head>
        <style>
            .navbar-brand
            {
                position: absolute;
                width: 100%;
                left: 0;
                text-align: center;
                margin:0 auto;
            }
            .navbar-toggle {
                z-index:3;
            }
        </style>
    </head>
    <body>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="container-fluid panel-container">
                    <div class="col-xs-3 text-left">
                    </div>
                    <div class="col-xs-6 text-center ">
                        <!--Construcción del modelo vial-->
                        <h3 class="panel-title">Construcción del modelo vial</h3>
                    </div>
                    <div class="col-xs-3 text-right">
                    </div>
                </div>
            </div>

            <div class="panel-body container-fluid">
                Panel content
                <div class="row">
                    <div class="col-sm-1" style="background-color: blue">
                    </div>
                    <div class="col-sm-5 container-fluid" style="background-color: green">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-2"><h4>Nombre</h4></div>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6"><b>Cant. calles horizontales</b></div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" ng-model="callesV">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"></div>
                            <div class="col-xs-6"><b>Cant. calles verticales</b></div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" ng-model="callesH">
                            </div>
                        </div>
                        <div class="row">
                            <input type="button" ng-click="ver()">
                            <div class="col-xs-12">
                                <canvas id= "mapa" width="450px" height="450px" style="border: 1px solid black">

                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 container-fluid" style="background-color: red">
                        asdsdasd
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default tg-panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            Opciones de cuadra
                                        </h3>
                                    </div>
                                    <div class="panel-body container-fluid">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Cantidad de carriles</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Sentido</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>Norte-Sur</option>
                                                    <option>Sur-Norte</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body container-fluid">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>
                                                    FDP de vehículos de entrada
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Cantidad máxima de automóviles</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Intervalo de tiempo</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body container-fluid" style="border-bottom: 1px black solid;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>
                                                    FDP de vehículos de salida
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Cantidad máxima de automóviles</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>Intervalo de tiempo</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body container-fluid">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>
                                                    Preferencia / popularidad
                                                </label>
                                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true">
                                                </span>
                                            </div>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <label>
                                                    Longitud (metros)
                                                </label>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" ng-model="valor">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1" style="background-color: pink">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>