<html>
<head>
    <style>
        .recuadro
        {
            border: 1px solid black;
            width: 800px;
            height: 800px;
        }
        .featurette-divider
        {
            border: 1px solid gray;
            width: 90%;

        }

    </style>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" >
            <img alt="Imagen Semaforo" src="../assets/img/logoImagen.jpg" class="img-responsive" width="500" height="500"/>
        </div>

        <div class="col-md-6 ">
            <div class="container-fluid " style="border: 1px solid black">
                <h2 class="featurette-heading">  Iniciar sesi&oacuten </h2>
                <hr class="featurette-divider">
                <div class="row-featurette">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresar email" ng-model="mail">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contrase&ntildea:</label>
                        <input type="password" class="form-control" id="pwd" placeholder="Ingresar Password " ng-model="pass">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" type="button" ng-click="entro()">Entrar</button>
                    </div>
                    <div class="form-group">
                        <a ng-click="enviarMailResetPass()" >Olvido la contrase&ntildea?</a>
                    </div>
                    <hr class="featurette-divider">
                    <div class="form-group">
                        <label>Nuevo Usuario?</label>
                    </div>
                    <div class="form-group">
                        <a href="/app/registro" class="btn btn-default" role="button">Registrarse</a>
                    </div>

                </div>

            </div>

<!--
        <div class="container" align="center">


            <p><a href="/app/login">iniciar sesi&oacuten</a></p>

            <p><a href="/app/passrecovery">recuperar contrase&ntildea</a></p>

            <p><a href="/app/registro">regitrar usuario</a></p>



        </div>
 -->




        </div>

    </div>
    </div>

</html>

  <!--      <div class="col-md-6">
            <form role="form">
                <div class="form-group">

                    <label for="exampleInputEmail1">
                        Email address
                    </label>
                    <input class="form-control" id="exampleInputEmail1" type="email" />
                </div>
                <div class="form-group">

                    <label for="exampleInputPassword1">
                        Password
                    </label>
                    <input class="form-control" id="exampleInputPassword1" type="password" />
                </div>
                <div class="form-group">

                    <label for="exampleInputFile">
                        File input
                    </label>
                    <input id="exampleInputFile" type="file" />
                    <p class="help-block">
                        Example block-level help text here.
                    </p>
                </div>
                <div class="checkbox">

                    <label>
                        <input type="checkbox" /> Check me out
                    </label>
                </div>
                <button class="btn btn-default" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div> -->
