<html>
<head>
    <style>
        .recuadro
        {
            border: 1px solid black;
            width: 800px;
            height: 800px;
        }
        .featurette-divider
        {
            border: 1px solid gray;
            width: 90%;

        }

    </style>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" >
            <img alt="Imagen Semaforo" src="../assets/img/logoImagen.jpg" class="img-responsive"/>
        </div>

        <div class="col-md-6 ">
            <div class="container-fluid " style="border: 1px solid black">
                <h2 class="featurette-heading">  Cambiar Contraseña </h2>
                <hr class="featurette-divider">
                <div class="row-featurette">
                    <!--
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingresar email">
                    </div> -->
                    <div class="form-group">
                        <label for="contr">Nueva Contrase&ntildea:</label>
                        <input type="password" class="form-control" id="contr" placeholder="Ingresar Password " ng-model="contra">
                    </div>
                    <div class="form-group">
                        <label for="rcontr">Repite Contrase&ntildea:</label>
                        <input type="password" class="form-control" id="rcontr" placeholder="Ingresar Password " ng-model="recontra">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-default" ng-click="cambiarContra()"> Cambiar Contrase&ntildea
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

</html>




<a href="/app/login">Salir</a>