<style>
    .grafico-centrado{
        width: 900px;
        height: 500px;
        display: inline-block;
    }
    .item-cromosoma {
        width: 80px;
        height: 50px;
        text-align: center;
        background-color: #e3e3e3;
    }
</style>
<div class="container-fluid">
    <div style="text-align:center; width:100%">
        <div style="display:inline-block; width:792px; text-align:left">
            <button type="button" class="btn btn-default btn-lg" ng-click="printPDF()">
                <span class="glyphicon glyphicon-print"></span>  Imprimir
            </button>

            <img src="/assets/img/header_reporte.png">
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Estructura del modelo
        </div>
        <div class="panel-body container-fluid">
            <div class="row">
                <div class="canvas-container col-sm-11" id="canvas-container"
                     style="text-align:center; overflow:hidden">
                    <canvas id="mapa" width="500px" height="250px">
                    </canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-body" id="modal-body">
        <h1>Mejores Tiempos de los Semáforos</h1>
        <div style="overflow-x: hidden; padding: 15px;" id="tg-modal-container"
             ng-style="estilo" ng-show="tiempoCromosoma">
            <table class="table">
                <tr>
                    <th>Sem. nroº</th>
                    <th>Primera combinación</th>
                    <th>Segunda combinación</th>
                    <th>Tercera combinación</th>
                </tr>
                <tr ng-repeat="item in tiempoSemaforo">
                    <td> {{item.id}} </td>
                    <td>
                        <div class="item-cromosoma">
                            H {{item.tiempoUnoH}} <br> V {{item.tiempoUnoV}}
                        </div>
                    </td>
                    <td>
                        <div class="item-cromosoma">
                            H {{item.tiempoDosH}} <br> V {{item.tiempoDosV}}
                        </div>
                    </td>
                    <td>
                        <div class="item-cromosoma">
                            H {{item.tiempoTresH}} <br> V {{item.tiempoTresV}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <h2 ng-show="!tiempoCromosoma">No hay información relacionada</h2>
    </div>

    <div class="container" style="text-align:center;">
        <div id="curve_chart" class="grafico-centrado"></div>
        <div id="curve_chart_tvel" class="grafico-centrado"></div>
        <div id="histogramaxcuadra" class="grafico-centrado"></div>
    </div>
</div>