<div class="modal-body" id="modal-body">
    <h1>Tabla de eventos futuros</h1>
    <div style="overflow-x: hidden; padding: 15px;" id="tg-modal-container"
        ng-style="estilo">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Tiempo</th>
            </tr>
            <tr ng-repeat="item in laTef | orderBy:'tiempo':false">
                <td> {{item.id}} </td>
                <td> {{item.tiempo}} </td>
            </tr>
        </table>
    </div>
    <button class="btn btn-default" type="button" ng-click="actualizar()"
            style="width:100%" >
        <span aria-hidden="true"></span>Actualizar
    </button>
</div>