<html>
<head>
    <style>
        .panel-height {
            height: 141px; / change according to your requirement/
        }

    </style>
</head>

<div class="panel panel-default tg-panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            Opciones de calle
        </h3>
    </div>
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <label>Cantidad de carriles</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="touch-spinner" ng-model="cantCarriles" ng-change="actualizar()" value="1">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <label>Sentido</label>
            </div>
            <div class="col-sm-5">
                <select class="form-control" ng-model="sentido">
                    <option>Norte-Sur</option>
                    <option>Sur-Norte</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <label>
                    FDP de vehículos de entrada
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label>Cantidad máxima de automóviles</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="touch-spinner" value="1" ng-model="cantMaxEnt">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label>Intervalo de tiempo</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="touch-spinner" value="1" ng-model="intervaloTiempoEnt">
            </div>
        </div>
    </div>
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <label>FDP de vehículos de salida</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label>Cantidad máxima de automóviles</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="touch-spinner" value="1" ng-model="cantMaxSal">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label>Intervalo de tiempo</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="touch-spinner" value="1" ng-model="intervaloTiempoSal">
            </div>
        </div>
    </div>
    <div class="panel-body container-fluid panel-height">
        <div class="row">
            <div class="col-sm-8">
                <label>Preferencia / popularidad</label>
                <span data-content="La popularidad de una cuadra es la tendencia de los autos de viajar hacia ella"
                      data-toggle="popover" title="Ayuda"
                      class="glyphicon glyphicon-question-sign" aria-hidden="true">
                </span>
            </div>
            <div class="col-sm-4">
                <input type="text" class="touch-spinner" value="1" ng-model="popularidad">
            </div>
        </div>
    </div>
</div>
</html>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });

    $("input[class='touch-spinner']").TouchSpin({
        maxboostedstep: 10,
        min: 0,
        max: 10,
        step: 1,
        boostat: 5
    });
    $("input[class='touch-spinner-200']").TouchSpin({
        maxboostedstep: 10,
        min: 0,
        max: 200,
        step: 1,
        boostat: 5
    });

</script>