body{
    background-color: whitesmoke;
}
/*aca van los estilos de las vistas*/

.tg-panel .row {
    margin: 5px 0 5px 0;
    /*background-color: lightsalmon;*/
}

.tg-panel .row:first-child {
    margin: 0 0 5px 0;
}

.tg-panel label {
    margin-top: 9px;
}

.canvas-container {
    width: 450px;
    height: 450px;
    overflow: auto;
    border: 1px black solid;
    padding: 0px;
}