<?xml version="1.0" encoding="utf-8"?>
		<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<servlet>
    <servlet-name>Map</servlet-name>
    <servlet-class>com.thegrid.communication.controller.MapController</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Map</servlet-name>
        <url-pattern>/api_v1.0/map</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MapState</servlet-name>
        <servlet-class>com.thegrid.communication.controller.MapStateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MapState</servlet-name>
        <url-pattern>/api_v1.0/map_state</url-pattern>
    </servlet-mapping>

</web-app>